
.graph-container {

    margin-top: 25px;
}

.severity-5{
    background-color: red;
}
.severity-4{
    background-color: orangered;
}
.severity-3{
    background-color: yellow;
}

/* movie image */

.movie-image{
    margin-bottom: 20px;
    padding-bottom: 20px;
}